<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1de907b3-262f-436d-a4b1-d049d5a3ed70/resourceGroups/student/providers/Microsoft.Web/sites/AlpineSkiHouse33</ResourceId>
    <ResourceGroup>student</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://alpineskihouse33.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://alpineskihouse33.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$AlpineSkiHouse33</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>